:root {
  --mainWhite: #dddada;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainRed: #be1919;
  --lightRed: #f8030333;
  --lightGreen: #3bf54a;
  --mainGreen: #188b0d;
}

body {
  font-family: "Oswald", sans-serif !important; /* using "!important to overWrite bootstrap styling"*/
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.navbar {
  background-image: url("./navBarBg.png") !important;
  background-color: var(--mainDark);
}

.text-title {
  font-family: "Fredericka the Great", cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-chef {
  font-family: "Oswald", cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-red {
  color: var(--mainRed);
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.text-green {
  color: var(--mainGreen);
}
